*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Orbitron, sans-serif;
    background-color: rgb(17, 24, 39);
    color: rgb(209, 213, 219);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    font-family: Orbitron, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

header {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid rgb(31, 41, 45);
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 400;
}

main {
    flex-grow: 1;
}

.game-container {
    display: flex;
    justify-content: center;
    gap: 10rem;
    align-items: center;
    margin: 2rem 1rem;
}

.game-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.player-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.player-box img {
    width: 30px;
    height: 30px;
    filter: invert(92%) sepia(8%) saturate(147%) hue-rotate(177deg) brightness(91%) contrast(95%);
    cursor: pointer;
    transition: filter 0.3s ease-in-out;
}

.player-box img:hover {
    filter: invert(40%) sepia(98%) saturate(597%) hue-rotate(171deg) brightness(96%) contrast(96%);
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, min(10%, 50px));
    box-shadow: 10px 10px 10px rgba(0, 255, 255, 0.1);
}

.grid-cell {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(20, 79, 128);
    transition: background-color 0.3s ease-in-out;
    width: 50px;
    height: 50px;
}

.grid-cell:hover {
    background-color: rgba(34, 0, 255, 0.25);
}

.miss {
    position: relative;
}

.miss::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #e74c3c;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.hit {
    background-color: #e74d3c75;
    position: relative;
}

.hit::before,
.hit::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 4px;
    background-color: #300501;
    transform-origin: center;
}

.hit::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.hit::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.ship {
    background-color: rgba(46, 204, 113, 0.2);
}

.sunk-cell {
    position: relative;
}

.sunk-cell::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #e74c3c;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.ship:hover {
    background-color: rgba(46, 204, 113, 0.3);
}

.setup-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

.primary-btn {
    background-color: rgb(20, 79, 128);
    color: rgb(209, 213, 219);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, opacity 0.7s;
    width: 150px;
}

.primary-btn:hover {
    background-color: rgb(15, 111, 146);
}

.secondary-btn {
    background-color: rgba(31, 41, 45, 0.2);
    color: rgb(209, 213, 219);
    padding: 0.5rem 1rem;
    border: 1px solid rgb(31, 41, 45);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 150px;
}

.secondary-btn:hover {
    background-color: rgba(31, 41, 45, 0.8);
}

.message-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.message {
    border: 1px solid rgb(20, 79, 128);
    border-radius: 16px;
    padding: 0.5rem 1rem;
}

.message.error {
    border: 1px solid #e74c3c;
}

footer {
    text-align: center;
    padding-bottom: 1rem;
}

footer a {
    color: rgb(0, 255, 255);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
